<td>
	<a href="http://www.facebook.com/Sravni.ru" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122485.png">
	</a>
</td>
<td>
	<a href="http://www.odnoklassniki.ru/sravniru" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122488.png">
	</a>
</td>
<td>
	<a href="http://vk.com/sravniru" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122490.png">
	</a>
</td>
<td>
	<a href="http://twitter.com/ru_sravni" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122489.png">
	</a>
</td>
<td>
	<a href="https://plus.google.com/106711523412128100695/" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122486.png">
	</a>
</td>
<td>
	<a href="http://sravniru.livejournal.com/" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122487.png">
	</a>
</td>
