<td>
	<a href="" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122485.png">
	</a>
</td>
<td>
	<a href="" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122488.png">
	</a>
</td>
<td>
	<a href="" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122490.png">
	</a>
</td>
<td>
	<a href="" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122489.png">
	</a>
</td>
<td>
	<a href="" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122486.png">
	</a>
</td>
<td>
	<a href="" target="_blank">
		<img width="35" height="35" src="http://link.sravni.ru/custloads/527504372/md_122487.png">
	</a>
</td>
